# XGBoost sur données brutes
## Création model et entrainement

In [12]:
from xgboost import XGBRegressor
from sklearn.model_selection import train_test_split
import pandas as pd

In [55]:
data_path = "data/train_sample.csv"
data = pd.read_csv(data_path)
Y = data.iloc[:, 1]
X = data.iloc[:, 3:]
X

,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count
0,-73.979412,40.752662,-73.980098,40.789742,2
1,-73.980995,40.764397,-73.991408,40.750115,3
2,-73.948653,40.803547,-73.958718,40.783812,2
3,-73.781257,40.644678,-73.965644,40.768945,1
4,-73.967158,40.803453,-73.981730,40.767468,1
...,...,...,...,...,...
99995,-73.873042,40.774077,-73.991612,40.744690,1
99996,-73.995866,40.723387,-73.789576,40.642812,4
99997,-74.000417,40.747927,-73.981280,40.759362,5
99998,-73.994072,40.751423,-73.975807,40.748932,1
99999,-73.979320,40.766970,-73.971627,40.762635,1

In [56]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2)

In [59]:
XGBR = XGBRegressor()
XGBR.fit(X_train, Y_train)
y_pred = XGBR.predict(X_test)
XGBR

[16:16:29] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=1, gamma=0,
             importance_type='gain', learning_rate=0.1, max_delta_step=0,
             max_depth=3, min_child_weight=1, missing=None, n_estimators=100,
             n_jobs=1, nthread=None, objective='reg:linear', random_state=0,
             reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
             silent=None, subsample=1, verbosity=1)

In [61]:
from sklearn.metrics import mean_squared_error

print(XGBR.score(X_test, Y_test))
mse = mean_squared_error(Y_test, XGBR.predict(X_test))
print(mse)

0.7107554303806474
27.970014087260456

## Test sur données de test

In [74]:
data_path = "data/test.csv"
data_test = pd.read_csv(data_path)
X = data_test.iloc[:, 2:]

In [75]:
Y_predict = XGBR.predict(X)

In [76]:
submission = pd.DataFrame(
    {'key': data_test.key, 'fare_amount': Y_predict},
    columns = ['key', 'fare_amount'])
submission.to_csv('submission.csv', index = False)

In [77]:
submission

                              key  fare_amount
0     2015-01-27 13:08:24.0000002     8.035362
1     2015-01-27 13:08:24.0000003     8.055502
2     2011-10-08 11:53:44.0000002     8.035362
3     2012-12-01 21:12:12.0000002     8.035362
4     2012-12-01 21:12:12.0000003    10.305292
...                           ...          ...
9909  2015-05-10 12:37:51.0000002     7.413010
9910  2015-01-12 17:05:51.0000001     8.233309
9911  2015-04-19 20:44:15.0000001    43.308670
9912  2015-01-31 01:05:19.0000005    18.788801
9913  2015-01-18 14:06:23.0000006     8.035362

[9914 rows x 2 columns]